services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: compliflow
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  api:
    build: ../apps/api
    environment:
      DATABASE_URL: postgresql+psycopg://postgres:postgres@postgres:5432/compliflow
      REDIS_URL: redis://redis:6379/0
      APP_ENV: local
      PORT: 8000
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
